@import url("root.css");

/* phone inteface */
@media ( max-width : 992px) {
	.cards {
		padding: 0 !important;
	}
	.card-auto {
		width: calc(100%/ 3 - 2 * .1em) !important;
		min-width: calc(100%/ 3 - 2 * .1em) !important;
		margin: .1em;
	}
	.m-height {
		max-height: 180px !important;
	}
	.btn-offcanvas {
		visibility: visible !important;
	}
	.possion-fix-nav {
		visibility: hidden;
	}
	.myInfor, .formAccount {
		width: 100% !important;
	}
}

.cards {
	max-height: 100vh;
}

.card-auto {
	width: calc(100%/ 5 - 2 * .1em);
	min-width: calc(100%/ 5 - 2 * .1em);
	margin: .1em;
}

.card-add {
	font-size: larger;
	text-decoration: none;
	position: absolute;
	bottom: var(--s-m5);
	right: var(--s-m5);
	color: var(--cl-blue) !important;
}

.btn-offcanvas {
	visibility: hidden;
}

.possion-fix-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: var(--s-m5);
	/* background-color: red; */
}

/* flex */
.d-f-part {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#videoBackground {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
}